:root
{
    --primary-color: rgb(26, 9, 54);
    --secondary-color: rgb(162, 146, 192);

    --title1-size: 2vw;
    --title2-size: 1.5vw;
    --title3-size: 1.2vw;
    --text-size: 0.9vw;
    --small-text-size: 0.8vw;

    --big-shadow: 0 1vw 1vw 0 rgba(0, 0, 0, 0.5);
    --shadow: 0 0.3vw 0.3vw 0 rgba(0, 0, 0, 0.5);
    --small-shadow: 0 0.2vw 0.2vw 0 rgba(0, 0, 0, 0.5);

    --tight: 40vw;
    --wide: 52vw;
}

body
{
    color: var(--secondary-color);
}

#selector
{
    width: 11vw;
    height: 2vw;
    font-size: var(--text-size);
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0.3vw;
    box-shadow: var(--small-shadow);
    text-align: center;
    appearance: none;
}
#selector:hover
{
    border: 1px solid white;
    background-color: var(--primary-color);
}

#allUsers
{
    width: var(--tight);
}
#allUsers .avatar
{
    text-align: right;
}
#allUsers .avatar img
{
    border-radius: 0.5vw;
    width: 5vw;
    margin: 0.5vw 0 0.5vw 0;
}
#allUsers .data
{
    display: flex;
    align-items: center;
}
#allUsers .buttons .row
{
    text-align: left;
}
#allUsers .buttons button
{
    width: 5vw;
    height: 2vw;
    font-size: var(--text-size);
    background-color: var(--primary-color);
    color: white;
    border: none;
    box-shadow: var(--small-shadow);
    margin: 0.3vw;
}
#allUsers .buttons button:hover
{
    border: 1px solid white;
    background-color: var(--primary-color);
}

.pageButtons
{
    text-align: center;
    width: 20vw;
}
.pageButtons button
{
    width: 6vw;
    height: 2vw;
    font-size: var(--text-size);
    background-color: var(--primary-color);
    color: white;
    border: none;
    box-shadow: var(--small-shadow);
}
.pageButtons button:hover
{
    border: 1px solid white;
    background-color: var(--primary-color);
}