:root
{
    --primary-color: rgb(26, 9, 54);
    --secondary-color: rgb(162, 146, 192);

    --title1-size: 2vw;
    --title2-size: 1.5vw;
    --title3-size: 1.2vw;
    --text-size: 0.9vw;
    --small-text-size: 0.8vw;

    --big-shadow: 0 1vw 1vw 0 rgba(0, 0, 0, 0.5);
    --shadow: 0 0.3vw 0.3vw 0 rgba(0, 0, 0, 0.5);
    --small-shadow: 0 0.2vw 0.2vw 0 rgba(0, 0, 0, 0.5);

    --tight: 40vw;
    --wide: 52vw;
}

.introduction
{
    background-color: var(--primary-color);
    color: white;
    box-shadow: var(--small-shadow);
}
.introduction .col-2
{
    justify-content: right;
}
.introduction h1
{
    color: white;
    font-size: var(--title1-size);
    text-align: center;
    margin: 0.4vw 0 0.4vw 0;
}
.introduction li
{
    color: white;
    font-size: var(--small-text-size);
    margin: 0.4vw 0 0.4vw 0;
}
.introduction hr
{
    width: var(--tight);
    margin: 0 0 0.4vw 0;
    opacity: 0.5;
    border-bottom: 0.2vw solid white;
}
.introduction a
{
    color: white;
}
.introduction a:hover
{
    color: var(--secondary-color)
}

.cv-grid1
{
    display: grid;
    width: var(--tight);
    color: var(--secondary-color)
}
.cv-grid1 h2
{
    font-size: var(--title2-size);
    font-weight: bold;
    margin: 0.4vw 0 0.4vw 0;
    text-align: center;
}
.cv-grid1 h3
{
    font-size: var(--title3-size);
    font-weight: bold;
    margin: 0.4vw 0 0.4vw 0;
}
.cv-grid1 p
{
    font-size: var(--text-size);
    margin: 0.4vw 0 0.4vw 0;
}
.cv-grid1 .title
{
    margin: 0 0 0.4vw 0;
    border-bottom: 0.15vw solid var(--secondary-color)
}
.cv-grid1 .date
{
    margin: 0 0.4vw 0 0;
    border-right: 1px solid var(--secondary-color)
}
.cv-grid1 .study
{
    border-bottom: 1px solid var(--secondary-color)
}

.cv-grid2
{
    width: var(--tight);
    color: var(--secondary-color)
}
.cv-grid2 h2
{
    font-size: var(--title2-size);
    font-weight: bold;
    margin: 0.4vw 0 0.4vw 0;
    text-align: center;
}
.cv-grid2 li
{
    font-size: var(--text-size);
    margin: 0.1vw 0 0.1vw 0;
}
.cv-grid2 .title
{
    margin-bottom: 0.4vw;
    border-bottom: 0.15vw solid var(--secondary-color)
}

.download
{
    height: 2vw;
    width: 10vw;
    color: white;
    background-color: var(--primary-color);
    border: none;
    box-shadow: var(--small-shadow);
}
.download:hover
{
    background-color: var(--primary-color);
    border: 1px solid white;
}
.download b
{
    font-size: var(--text-size);
}