:root
{
    --primary-color: rgb(26, 9, 54);
    --secondary-color: rgb(162, 146, 192);

    --title1-size: 2vw;
    --title2-size: 1.5vw;
    --title3-size: 1.2vw;
    --text-size: 0.9vw;
    --small-text-size: 0.8vw;

    --big-shadow: 0 1vw 1vw 0 rgba(0, 0, 0, 0.5);
    --shadow: 0 0.3vw 0.3vw 0 rgba(0, 0, 0, 0.5);
    --small-shadow: 0 0.2vw 0.2vw 0 rgba(0, 0, 0, 0.5);

    --tight: 40vw;
    --wide: 52vw;
}

main
{
    height: 30vw;
}

.timetable
{
    width: var(--wide);
}
.timetable h1
{
    font-size: var(--title1-size);
    color: var(--secondary-color);
    text-align: center;
}
.timetable .col
{
    width: 9vw;
}

.subject button
{
    background-color: var(--primary-color);
    width: 9vw;
    height: 3vw;
    margin: 0.5vw 0 0.5vw 0;
    font-size: var(--small-text-size);
    border: none;
}
.subject button:not(.disabled)
{
    box-shadow: var(--small-shadow);
}
.subject button:hover
{
    border: 1px solid white;
    background-color: var(--primary-color);
}
.subject .btn.btn-secondary.dropdown-toggle.show
{
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
}
.subject .disabled
{
    opacity: 0.3;
}
.subject .dropdown-menu
{
    width: 9vw;
    text-align: center;
    font-size: var(--small-text-size);
    background: rgba(26, 9, 54, 0.8);
    backdrop-filter: blur(0.5vw);
    box-shadow: var(--small-shadow);
}